*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     background: green;
    color: #fff; 
    overflow-y: visible;
    

}
form{
    left: 50%;
}
form div{
    padding: 20px;
    margin: auto;   
}

form div p{
    width: 100%;
    padding: 10px;
    text-align: start;
}
form #submit{
    background-color: blue;
    padding: .5rem 3rem;
    color: #fff;
    border: none;
    margin-bottom: 30px;
    border-radius: 4px;
}
#p0{
    padding: 10px;
}
.big{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}