*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgb(15, 136, 184);
    color: #fff;
    overflow-y: visible;
}
form{
    left: 50%;
}
form div p{
    text-align: start;
    width: 100%;
    padding: 20px;
}
form #submit{
    margin: 20px;
    font-weight: bold;
    color: whitesmoke;
    background-color: rgba(0, 81, 255, 0.671);
    font-size: 40px;
}
#pO{
    padding: 10px;
}
.big{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}